absl-py==2.4.0
alembic==1.18.5
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
asyncpg==0.31.0
attrs==26.1.0
Automat==25.4.16
bcrypt==4.2.1
billiard==4.2.4
blinker==1.9.0
celery==5.4.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cli-anything-hub==0.3.0
cli-anything-slay-the-spire-ii @ git+https://github.com/HKUDS/CLI-Anything.git@7862c920c9950a0883326ba4ca9dd9ffdbcb5596#subdirectory=slay_the_spire_ii/agent-harness
click==8.4.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.3
cryptography==49.0.0
cssselect==1.4.0
cycler==0.12.1
defusedxml==0.7.1
dj-rest-auth==7.2.0
Django==5.1.15
django-allauth==65.18.0
django-cors-headers==4.5.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.136.3
filelock==3.29.5
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.63.0
fpdf2==2.8.7
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.16
ImageIO==2.37.3
Incremental==24.11.0
itemadapter==0.13.1
itemloaders==1.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
kombu==5.6.2
lazy-loader==0.5
llvmlite==0.47.0
lxml==6.1.1
Mako==1.3.12
MarkupSafe==3.0.3
matplotlib==3.10.9
mediapipe==0.10.35
networkx==3.6.1
numba==0.65.1
numpy==2.4.6
onnxruntime==1.26.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.2
parsel==1.11.0
passlib==1.7.4
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==11.3.0
platformdirs==4.9.6
pooch==1.9.0
prompt_toolkit==3.0.52
Protego==0.6.2
protobuf==7.35.0
psycopg2-binary==2.9.12
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyDispatcher==2.0.7
PyJWT==2.13.0
PyMatting==1.1.15
pyOpenSSL==26.3.0
pyparsing==3.3.2
pypdfium2==5.11.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.11.1
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pystray==0.19.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.29
pywin32==311
queuelib==1.9.0
redis==5.2.1
referencing==0.37.0
rembg==2.0.75
requests==2.34.2
requests-file==3.0.1
rpds-py==0.30.0
rsa==4.9.1
scikit-image==0.26.0
scipy==1.17.1
Scrapy==2.11.2
service-identity==26.1.0
setuptools==83.0.0
shiboken6==6.11.1
six==1.17.0
sounddevice==0.5.5
SQLAlchemy==2.0.50
sqlparse==0.5.5
starlette==1.2.0
tifffile==2026.5.15
tldextract==5.3.1
tqdm==4.67.3
Twisted==26.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.48.0
vine==5.1.0
w3lib==2.4.1
wcwidth==0.8.2
Werkzeug==3.1.8
zope.interface==8.5
